<!-- <div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
</div>
<span class="nav-cover"></span> -->
<header class="cd-main-header">
	<a class="cd-logo" href="/">
		<svg width="88px" height="17px" viewBox="0 0 88 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
		    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
		    <title>React Examples.</title>
		    <desc>React Examples Logo.</desc>
		    <defs></defs>
		    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
		        <g id="Desktop" sketch:type="MSArtboardGroup" transform="translate(-25.000000, -16.000000)" font-weight="bold" font-family="Montserrat" line-spacing="36" letter-spacing="-1.22222209" font-size="22" fill="#422A8C">
		            <g id="1" sketch:type="MSLayerGroup">
		                <text id="ReactEx." sketch:type="MSTextLayer">
		                    <tspan x="24" y="32">ReactEx.</tspan>
		                </text>
		            </g>
		        </g>
		    </g>
		</svg>
	</a>

	<ul class="cd-header-buttons">
		<li><a class="cd-search-trigger" href="#cd-search">Search<span></span></a></li>
		<li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
	</ul> <!-- cd-header-buttons -->
</header>

<div class="cd-overlay"></div>

<nav class="cd-nav" role="navigation">
  <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
    <li class="has-children">
      <a href="/tag/components">Components</a>

      <ul class="cd-secondary-nav is-hidden">
        <li class="go-back"><a href="#0">Menu</a></li>
        <li class="see-all"><a href="/tag/component">All Components</a></li>
        <li class="has-children">
          <a href="/tag/element">Elements</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#0">Elements</a></li>
            <li class="see-all"><a href="/tag/component">All Components</a></li>
            <li><a href="/tag/background">Background</a></li>
            <li><a href="/tag/modal">Modals &amp; Lightboxes</a></li>
            <li><a href="/tag/filter">Filter &amp; Sort</a></li>
						<li><a href="/tag/graph">Graphs</a></li>
						<li><a href="/tag/chart">Charts</a></li>
            <li><a href="/tag/hover">Hover</a></li>
            <li><a href="/tag/layout">Layout</a></li>
            <li><a href="/tag/list">List</a></li>
            <li><a href="/tag/loader">Loading</a></li>
            <li><a href="/tag/scrolling">Scrolling</a></li>
						<li><a href="/tag/table">Tables</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="/tag/input">Inputs</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#0">Inputs</a></li>
            <li class="see-all"><a href="/tag/input">All Inputs</a></li>
            <li><a href="/tag/autocomplete">Autocomplete</a></li>
            <li><a href="/tag/color-picker">Color Pickers</a></li>
						<li><a href="/tag/autocomplete/date">Date &amp; Time</a></li>
						<li><a href="/tag/drag-and-drop">Drag &amp; Drop</a></li>
						<li><a href="/tag/slider">Sliders</a></li>
						<li><a href="/tag/password">Password</a></li>
						<li><a href="/tag/search">Search</a></li>
						<li><a href="/tag/rate">Rate</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="/tag/media">Media</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#0">Media</a></li>
            <li class="see-all"><a href="/tag/media">All Media</a></li>
            <li><a href="/tag/audio">Audio</a></li>
            <li><a href="/tag/video">Video</a></li>
            <li><a href="/tag/gallery">Galleries</a></li>
            <li><a href="/tag/image">Images</a></li>
            <li><a href="/tag/map">Maps</a></li>
            <li><a href="/tag/carousel">Sliders &amp; Carousels</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="/tag/navigation">Navigation</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#0">Navigation</a></li>
            <li class="see-all"><a href="/navigation">All Navigation</a></li>
            <li><a href="/tag/horizontal">Horizontal</a></li>
            <li><a href="/tag/tab">Tabs</a></li>
            <li><a href="/tag/vertical">Vertical</a></li>
            <li><a href="/tag/dropdown">Dropdown</a></li>
            <li><a href="/tag/responsive">Responsive</a></li>
            <li><a href="/tag/drawer">Drawer</a></li>
            <li><a href="/tag/pagination">Pagination</a></li>
            <li><a href="/tag/accordion">Accordion</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <!-- <li class="has-children">
      <a href="/tag/example">Examples</a>

      <ul class="cd-nav-gallery is-hidden">
        <li class="go-back"><a href="#0">Menu</a></li>
        <li class="see-all"><a href="http://codyhouse.co/?p=409">Browse Gallery</a></li>
        <li>
          <a class="cd-nav-item" href="http://codyhouse.co/?p=409">
            <img src="images/img.jpg" alt="Product Image">
            <h3>Product #1</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="http://codyhouse.co/?p=409">
            <img src="images/img.jpg" alt="Product Image">
            <h3>Product #2</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="http://codyhouse.co/?p=409">
            <img src="images/img.jpg" alt="Product Image">
            <h3>Product #3</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="http://codyhouse.co/?p=409">
            <img src="images/img.jpg" alt="Product Image">
            <h3>Product #4</h3>
          </a>
        </li>
      </ul>
    </li> -->

    <li class="has-children">
      <a href="http://codyhouse.co/?p=409">Frameworks</a>
      <ul class="cd-nav-icons is-hidden">
        <li class="go-back"><a href="#0">Menu</a></li>
        <li class="see-all"><a href="http://codyhouse.co/?p=409">Browse Services</a></li>
        <li>
          <a class="cd-nav-item item-1" href="/tag/react">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="3925px" height="3525px" viewBox="0 0 3925 3525" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="none" fill="#67DAF9" cx="1960" cy="1760" r="355"></circle>
                <g stroke="#67DAF9" stroke-width="170" fill="none">
                    <ellipse cx="2575" cy="545" rx="715" ry="1875" transform="rotate(30)"></ellipse>
                    <ellipse cx="1760" cy="-1960" rx="715" ry="1875" transform="rotate(90)"></ellipse>
                    <ellipse cx="-815" cy="-2505" rx="715" ry="1875" transform="rotate(-210)"></ellipse>
                </g>
            </svg>
            <h3>React</h3>
            <p>A reactive UI framework</p>
          </a>
        </li>

        <li>
          <a class="cd-nav-item item-2" href="/tag/react-native">
            <h3>React Native</h3>
            <p>Build world-class application experiences on native platforms.</p>
          </a>
        </li>

        <li>
          <a class="cd-nav-item item-3" href="/tag/redux">
            <h3>Redux</h3>
            <p>Predictable state container for JavaScript apps.</p>
          </a>
        </li>
      </ul>
    </li>

    <li><a href="http://codyhouse.co/?p=409">Submit</a></li>
  </ul> <!-- primary-nav -->
</nav> <!-- cd-nav -->

	<div id="cd-search" class="cd-search">
		<form>
			<input type="search" placeholder="Search...">
		</form>
	</div>
