<!-- <div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
</div>
<span class="nav-cover"></span> -->
<header class="cd-main-header">
	<a class="cd-logo" href="/">
		<svg width="88px" height="17px" viewBox="0 0 88 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
	    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
	    <title>ReactEx.</title>
	    <desc>Created with Sketch.</desc>
	    <defs></defs>
	    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
	        <g id="Desktop" sketch:type="MSArtboardGroup" transform="translate(-25.000000, -16.000000)" font-weight="bold" font-family="Montserrat" line-spacing="36" letter-spacing="-1.22222209" font-size="22" fill="#422A8C">
	            <g id="1" sketch:type="MSLayerGroup">
	                <text id="ReactEx." sketch:type="MSTextLayer">
	                    <tspan x="24" y="32">ReactEx.</tspan>
	                </text>
	            </g>
	        </g>
	    </g>
	</svg>
	</a>

	<ul class="cd-header-buttons">
		<li><a class="cd-search-trigger" href="#cd-search">Search<span></span></a></li>
		<li><a class="cd-nav-trigger" href="#cd-primary-nav">Menu<span></span></a></li>
	</ul> <!-- cd-header-buttons -->
</header>

<div class="cd-overlay"></div>

<nav class="cd-nav">
  <ul id="cd-primary-nav" class="cd-primary-nav is-fixed">
    <li class="has-children">
      <a href="http://codyhouse.co/?p=409">Components!</a>

      <ul class="cd-secondary-nav is-hidden">
        <li class="go-back"><a href="#0">Menu</a></li>
        <li class="see-all"><a href="http://codyhouse.co/?p=409">All Components</a></li>
        <li class="has-children">
          <a href="http://codyhouse.co/?p=409">Elements</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#0">Clothing</a></li>
            <li class="see-all"><a href="http://codyhouse.co/?p=409">All Accessories</a></li>
            <li class="has-children">
              <a href="#0">Beanies</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#0">Accessories</a></li>
                <li class="see-all"><a href="http://codyhouse.co/?p=409">All Benies</a></li>
                <li><a href="http://codyhouse.co/?p=409">Caps &amp; Hats</a></li>
                <li><a href="http://codyhouse.co/?p=409">Gifts</a></li>
                <li><a href="http://codyhouse.co/?p=409">Scarves &amp; Snoods</a></li>
              </ul>
            </li>
            <li class="has-children">
              <a href="#0">Caps &amp; Hats</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#0">Accessories</a></li>
                <li class="see-all"><a href="http://codyhouse.co/?p=409">All Caps &amp; Hats</a></li>
                <li><a href="http://codyhouse.co/?p=409">Beanies</a></li>
                <li><a href="http://codyhouse.co/?p=409">Caps</a></li>
                <li><a href="http://codyhouse.co/?p=409">Hats</a></li>
              </ul>
            </li>
            <li><a href="http://codyhouse.co/?p=409">Glasses</a></li>
            <li><a href="http://codyhouse.co/?p=409">Gloves</a></li>
            <li><a href="http://codyhouse.co/?p=409">Jewellery</a></li>
            <li><a href="http://codyhouse.co/?p=409">Scarves</a></li>
            <li><a href="http://codyhouse.co/?p=409">Wallets</a></li>
            <li><a href="http://codyhouse.co/?p=409">Watches</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="http://codyhouse.co/?p=409">Inputs</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#0">Clothing</a></li>
            <li class="see-all"><a href="http://codyhouse.co/?p=409">All Bottoms</a></li>
            <li><a href="http://codyhouse.co/?p=409">Casual Trousers</a></li>
            <li class="has-children">
              <a href="#0">Jeans</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#0">Bottoms</a></li>
                <li class="see-all"><a href="http://codyhouse.co/?p=409">All Jeans</a></li>
                <li><a href="http://codyhouse.co/?p=409">Ripped</a></li>
                <li><a href="http://codyhouse.co/?p=409">Skinny</a></li>
                <li><a href="http://codyhouse.co/?p=409">Slim</a></li>
                <li><a href="http://codyhouse.co/?p=409">Straight</a></li>
              </ul>
            </li>
            <li><a href="#0">Leggings</a></li>
            <li><a href="#0">Shorts</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="http://codyhouse.co/?p=409">Media</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#0">Clothing</a></li>
            <li class="see-all"><a href="http://codyhouse.co/?p=409">All Jackets</a></li>
            <li><a href="http://codyhouse.co/?p=409">Blazers</a></li>
            <li><a href="http://codyhouse.co/?p=409">Bomber jackets</a></li>
            <li><a href="http://codyhouse.co/?p=409">Denim Jackets</a></li>
            <li><a href="http://codyhouse.co/?p=409">Duffle Coats</a></li>
            <li><a href="http://codyhouse.co/?p=409">Leather Jackets</a></li>
            <li><a href="http://codyhouse.co/?p=409">Parkas</a></li>
          </ul>
        </li>

        <li class="has-children">
          <a href="http://codyhouse.co/?p=409">Navigation</a>

          <ul class="is-hidden">
            <li class="go-back"><a href="#0">Clothing</a></li>
            <li class="see-all"><a href="http://codyhouse.co/?p=409">All Tops</a></li>
            <li><a href="http://codyhouse.co/?p=409">Cardigans</a></li>
            <li><a href="http://codyhouse.co/?p=409">Coats</a></li>
            <li><a href="http://codyhouse.co/?p=409">Hoodies &amp; Sweatshirts</a></li>
            <li><a href="http://codyhouse.co/?p=409">Jumpers</a></li>
            <li><a href="http://codyhouse.co/?p=409">Polo Shirts</a></li>
            <li><a href="http://codyhouse.co/?p=409">Shirts</a></li>
            <li class="has-children">
              <a href="#0">T-Shirts</a>

              <ul class="is-hidden">
                <li class="go-back"><a href="#0">Tops</a></li>
                <li class="see-all"><a href="http://codyhouse.co/?p=409">All T-shirts</a></li>
                <li><a href="http://codyhouse.co/?p=409">Plain</a></li>
                <li><a href="http://codyhouse.co/?p=409">Print</a></li>
                <li><a href="http://codyhouse.co/?p=409">Striped</a></li>
                <li><a href="http://codyhouse.co/?p=409">Long sleeved</a></li>
              </ul>
            </li>
            <li><a href="http://codyhouse.co/?p=409">Vests</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="has-children">
      <a href="http://codyhouse.co/?p=409">Elements</a>

      <ul class="cd-nav-gallery is-hidden">
        <li class="go-back"><a href="#0">Menu</a></li>
        <li class="see-all"><a href="http://codyhouse.co/?p=409">Browse Gallery</a></li>
        <li>
          <a class="cd-nav-item" href="http://codyhouse.co/?p=409">
            <img src="images/img.jpg" alt="Product Image">
            <h3>Product #1</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="http://codyhouse.co/?p=409">
            <img src="images/img.jpg" alt="Product Image">
            <h3>Product #2</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="http://codyhouse.co/?p=409">
            <img src="images/img.jpg" alt="Product Image">
            <h3>Product #3</h3>
          </a>
        </li>

        <li>
          <a class="cd-nav-item" href="http://codyhouse.co/?p=409">
            <img src="images/img.jpg" alt="Product Image">
            <h3>Product #4</h3>
          </a>
        </li>
      </ul>
    </li>

    <li class="has-children">
      <a href="http://codyhouse.co/?p=409">Libraries</a>
      <ul class="cd-nav-icons is-hidden">
        <li class="go-back"><a href="#0">Menu</a></li>
        <li class="see-all"><a href="http://codyhouse.co/?p=409">Browse Services</a></li>
        <li>
          <a class="cd-nav-item item-1" href="/tag/react">
            <?xml version="1.0" encoding="UTF-8" standalone="no"?>
            <svg width="3925px" height="3525px" viewBox="0 0 3925 3525" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <circle stroke="none" fill="#67DAF9" cx="1960" cy="1760" r="355"></circle>
                <g stroke="#67DAF9" stroke-width="170" fill="none">
                    <ellipse cx="2575" cy="545" rx="715" ry="1875" transform="rotate(30)"></ellipse>
                    <ellipse cx="1760" cy="-1960" rx="715" ry="1875" transform="rotate(90)"></ellipse>
                    <ellipse cx="-815" cy="-2505" rx="715" ry="1875" transform="rotate(-210)"></ellipse>
                </g>
            </svg>
            <h3>React</h3>
            <p>A reactive UI framework</p>
          </a>
        </li>

        <li>
          <a class="cd-nav-item item-2" href="/tag/angular">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               width="165.908px" height="175.75px" viewBox="0 0 165.908 175.75" enable-background="new 0 0 165.908 175.75"
               xml:space="preserve">
            <g>
              <polygon fill="#B4B4B4" points="82.689,0 0,29.1 13.067,137.436 82.777,175.75 152.846,136.917 165.908,28.585 	"/>
              <polygon fill="#A51E22" points="157.66,34.846 82.496,9.214 82.496,166.596 145.487,131.734 	"/>
              <polygon fill="#DC2226" points="9.279,35.308 20.476,132.197 82.495,166.596 82.495,9.211 	"/>
              <path fill="#F3F3F3" d="M103.186,92.996l-20.69,9.675H60.689l-10.251,25.64l-19.067,0.354L82.496,14.929L103.186,92.996z
                 M101.186,88.125L82.633,51.396L67.415,87.493h15.08L101.186,88.125z"/>
              <polygon fill="#B4B4B4" points="82.495,14.929 82.632,51.396 99.9,87.521 82.534,87.521 82.495,102.648 106.508,102.671
                117.731,128.668 135.975,129.006 	"/>
            </g>
            </svg>
            <h3>Angular</h3>
            <p>Superheroic Javascript MWC Framework </p>
          </a>
        </li>

        <li>
          <a class="cd-nav-item item-3" href="/tag/ember">
            <h3>Ember</h3>
            <p>Framework for ambitious applications</p>
          </a>
        </li>
      </ul>
    </li>

    <li><a href="http://codyhouse.co/?p=409">Submit</a></li>
  </ul> <!-- primary-nav -->
</nav> <!-- cd-nav -->

	<div id="cd-search" class="cd-search">
		<form>
			<input type="search" placeholder="Search...">
		</form>
	</div>
